@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* MY CSS */

body {
    font-family: "Vazirmatn", sans-serif;
    direction: rtl;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    background-color:#313552 ;
    position: relative;
}


/* header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.header h1 {
    color: #fff;
    text-align-last: left;
}



nav ul li {
    display: inline;
}

nav ul li a {
    padding-right: 40px;
    color: #fff;
}

/* Text-pic */

.text-pic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.text {
    line-height: 100px;
    color: #fff;
    margin-bottom: 100px;
    font-size: 50px;
}

#pv-web {
    color: #f1ce1f;
    font-size: 80px;
}

#pv-web::after {
    content: "";
    border: 1px solid #f1ce1f;
    width: 700px;
    height: 110px;
    position: absolute;
    right: 390px;
    z-index: 9px;
}

.pic img {
    height: 520px;
    margin-bottom: -4px;
    position: relative;
    z-index: 10px;
}

/* more-info */

.more-info {
    color: #fff;
    padding-right: 70px;
    margin-right: 30px;
    padding-bottom: 20px;
    position: absolute;
    right: 70px;
    bottom: 30px;
}

.more-info::before {
    content: "";
    width: 60px;
    height: 2px;
    background-color: #fff;
    display: block;
    position: absolute;
    bottom: 26px;
    right: 4px;
    margin-left: 20px;
}


/* Sec-ui */

h2::after {
    content: " ";
    width: 60px;
    height: 2px;
    background-color: #f1ce1f;
    display: block;
    margin: 7px auto;
}

.sec-ui {
    margin-top: 60px;
    text-align: center;
}

.sec-ui h2 {
    color: #656564;
}

.sec-ui-text {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-ui-text h3 {
    color: #fff;
}

.circle {
    align-items: center;
    text-align: center;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #24263b;
    margin-left: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#c2 {
    align-items: center;
    text-align: center;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #f4f8fb;
}

#hc2 {
    color: #000;
}

.hc3 {
    margin-right: 20px;
}

.line2 {
    height: 200px;
    border-radius: 10px;
    width: 2px;
    background-color: #e2e2e2;
    margin: 0 auto;
    margin-top: 40px;
}

/* Sec-about-us */

.about-us {
    margin-top: 30px;
    text-align: center;
}

.about-us h2 {
    text-align: center;
    color: #656564;
}

.about-us p {
    color: #8c8c8c;
    width: 500px;
    line-height: 20px;
    text-align: center;
    margin: 50px auto;
    text-align: justify;
}

.about-us img{
    width: 400px;
}


.more-info2 {
    color: #656564;
    margin-top: 40px;
    position: relative;
}

.more-info2::before {
    content: "";
    width: 60px;
    height: 2px;
    background-color: #bababa;
    display: block;
    position: absolute;
    bottom: 5px;
    right: 610px;
    margin-left: 20px;
    margin: 0 auto;
}



/* My Works */


.my-works {
    margin-top: 100px;
    text-align: center;

}

.my-works h2 {
    color: #656564;
}

.nature-pic img {
    /* height: 150px; */
    /* width: 70px; */
    width: 30%;
    margin-bottom: 30px;
}

.nature-pic {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


/* article */

.article {
    margin-top: 100px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.article-text {
    background-color: #24263b;
    color: #fff;
    height: 300px;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-text h3 {
    width: 350px;
    margin-top: 50px;
    margin: 0 auto;
}

.article-text p {
    width: 500px;
    margin-top: 20px;
    line-height: 20px;
}


.article-pic img {
    height: 300px;
    width: 100%;
}

.article-pic {
    width: 50%;
}

/* our weblog */

.our-weblog {
    margin-top: 20px;
    text-align: center;
    color: #656564;
}


.weblogs {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.tp-weblogs {
    box-shadow: 0 0 5px #bababa;
}

.tp-weblogs img {
    width: 250px;
}

.tp-weblogs h3 {
    color: #656564;
    margin-top: 10px;
    padding: 6px;
}

.tp-weblogs p {
    text-align: center;
    width: 250px;
    color: #8c8c8c;
    padding: 6px;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 20px;
}


/* contact-us */

.contact-us {
    margin-top: 60px;
    background-color: #f9f9f9;
    padding-top: 80px;
}

.contact-us h2 {
    text-align: center;
}

.form {
    width: 900px;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
}

.form input {
    width: 90%;
    padding: 15px;
    margin: 20px 0 20px 37px;
    background-color: #fff;
    border: 1px solid #8c8c8c;
    border-radius: 10px;
    color: #636363;
}

.form textarea {
    width: 90%;
    padding: 15px;
    margin: 20px 0 20px 37px;
    background-color: #fff;
    border: 1px solid #8c8c8c;
    border-radius: 10px;
    height: 150px;
    font-size: 16px;
    color: #636363;
}

#tel {
    text-align: right;
}

.form button {
    background-color: #fdd11e;
    color: #fff;
    padding: 15px 45px;
    border-radius: 10px;
    border: 0px solid ;
    margin-bottom: 30px;
    margin-top: 20px;
    cursor: pointer;
 }

 /* footer */

 footer {
    padding: 20px;
    background-color: #24263b;
    text-align: center;
    color: #fff;
 }

 footer h3 {
    font-size: 25px;
    margin-top: 35px;
 }

 footer i {
    text-align: center;
    margin-top: 30px;
    padding-right: 7px;
    font-size: 20px;
    cursor: pointer;
 }


 .footer-line {
    height: 1px;
    border-radius: 10px;
    width: 500px;
    margin: 30px auto;
    background-color: #fff;
 }

footer p {
    color: #fff;
}
